# Virtual Environment
env/

# General
.DS_Store
.env

# Backend (Node.js)
*.pyc
__pycache__/
*.log
/node_modules/
/dist/
/coverage/
/*.env
/*.log
/.eslintcache
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Frontend (React.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env
frontend/.env*.local
frontend/coverage
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Log files
*.log
